<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>You are successfully Registered! </p>

    <p>Thank you for Regitering on Our Platform.</p>
  </body>
</html>
