<header class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to "Shop", root_path, class: "text-white text-2xl font-bold" %>
    <nav>
      <%# <%= link_to "Cart", carts_path, class: "text-white ml-6" %> %>
    </nav>
  </div>
</header>