<header class="bg-blue-600 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">

    <div class="text-2xl font-semibold">
      <a href="/" class="text-white hover:text-gray-300">Shoppers</a>
    </div>
    
    <nav class="flex space-x-6">
      <a href="/" class="text-white hover:text-gray-300">Home</a>
      <a href="/products" class="text-white hover:text-gray-300">Products</a>
      <a href="/carts" class="text-white hover:text-gray-300">Cart</a>
      <%# <a href="/users/" class="text-white hover:text-gray-300">Profile</a> %>

      <% if user_signed_in? %>
      <a href="/users/<%= current_user.id %>" class="text-white hover:text-gray-300">Profile</a>

        <a href="/users/sign_out" class="text-white hover:text-gray-300">Logout</a>
      <% else %>
        <a href="/users/sign_in" class="text-white hover:text-gray-300">Login</a>
      <% end %>
    </nav>
  </div>
</header>
