<!-- app/views/carts/show.html.erb -->
<h1>Your Cart</h1>
<% @cart.items.each do |item| %>
  <div>
    <p><%= item.product.name %></p>
    <p>Quantity: <%= item.quantity %></p>
    <p>Price: <%= item.product.price * item.quantity %></p>
  </div>
<% end %>
